<!DOCTYPE html>
<html>
<head>
	<title>Rate Result</title>
</head>
<body>
	<h1>Rate Details</h1>
	<p>Your package Details: <br>
	-Weight: '<%= weight %>'<br>
	-Delivery Method: '<%= operation %>'<br>
	-Rate: '<%= result %>'</p>
</body>
</html>