/*personalStyle.css*/

/*////////////////////////////*/
         /*HOME PAGE*/
/*////////////////////////////*/
body{
	margin: 0px;
}

h1, h2, h3, h4, p, a{
	color: #ffffff;
}

.nav-background, footer{
	background-color: #212121;
}

nav li{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	list-style: none;
	display: inline-block;
}

nav a{
	text-decoration: none;
}

#logo{
    margin: auto;
    width: 494px;
    display: block;
    position: relative;
    z-index: 10;
    margin-bottom: -263px;
    margin-top: 50px;
}    

#main_img{
	display: block;
    margin: auto;
    width: 100%;
}