h1{
	color: #191919;
	font-size: 40px;
	font-weight: 100;
}

#sectionChangingColor h1, #blueSection h1{
	color: #1919E8;
	text-align: center;
}

#sectionChangingColor{
	background-color: #ff9333;
    padding-bottom: 30px; 
}

#sectionChangingColor input{
	margin-left: 35px;
}

#buttonPosition{
    padding-top: 20px;
    padding-bottom: 20px;
}

#buttonPosition:hover h1, #blueSection:hover h1, #sectionChangingColor:hover h1{
	font-weight: bolder;	
}

#blueSection{
	background-color: #1919E8;
	padding-top: 20px;
	padding-bottom: 20px;
}

#blueSection h1{
	color: #ffffff;
}


